[Desktop Entry]
Name=Poldek
GenericName=PLD Linux package manager
GenericName[pl]=Menadżer pakietów PLD Linuksa
Comment=RPM packages management helper tool
Comment[pl]=Pomocnicze narzędzie do zarządzania pakietami RPM
Exec=poldek
Terminal=true
Icon=poldek
Type=Application
Categories=Settings;PackageManager;
